{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

    </br>
    <div class="text-center"><a href="{{ url('new')}}">Создать новую новость</a></div>
    <table class="table table-bordered text-center" style="width:50%;margin-left:25%">
        <center><label>News</label></center>

        <tr class="active">
            <th class="text-center">п№</th>
            <th class="text-center">id записи</th>
            <th class="text-center">Заголовок записи</th>
            <th class="text-center">Дата записи</th>
        </tr>
        {% for post in news %}
        <tr class="success">
            <td >{{ loop.index }}</td>
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.date|date('Y-m-d') }}</td>
        </tr>
            <tr>
                <td></td>
                <td><a href="{{ url('delnews', {'id': post.id}) }}">Del record</a></td>
                <td><a href="{{ url('edit', {'id': post.id}) }}">Edit record</a></td>
            </tr>
{% endfor %}
    </table>

{% endblock %}