<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% javascripts
        'js/jquery.js'
        'js/myslide.js'
        'js/bootstrap.js'
        'js/jcarousel.basic.js'
        'js/jquery.jcarousel.min.js'

        output='js/compiled/app.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/jcarousel.basic.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block body %}{% endblock %}
    </body>
</html>
