{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}


{% block body %}
<center>
    <div class="t"><a href="{{ url('curr', {'id': gallery[0].fnews.id}) }}">Обратно к новости-{{ gallery[0].fnews }}</a></div>
<h2>Загруженные фотографии галлереи:<div class="t"><a href="{{ url('curgallery', {'title': gallery[0].title}) }}">{{ gallery[0].title}}</a></div></h2>
<br>
    <br>
    <ul>
        {% for photo in photos %}

            <li>
                <a href="{{ photo.photo.path }}" target="_blank"><img src="{{ photo.photo.path }}" width="700px" height="420px"/></a>
                <div  id="desc">
                    <h3>{{ photo.title }} - {{ photo.date | date ('d.m.Y-H:i') }} </h3>
                </div>
                </br></br></br></br></br>
            </li>
        {% endfor%}
    </ul>

</center></br>{% endblock %}